<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Your custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>BMR main </title>

</head>

<body>

    <!-- Header -->
    <%- include("partials/header.ejs") %>

        <!-- Main content -->
        <div class="wrapper">
            <!-- Sidebar -->
            <%- include("partials/sidebar.ejs") %>

                <!-- Table content -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-center align-items-center" style="min-height: 10vh;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                   
                                    <th>Op.#</th>
                                    <th>Description</th>
                                    <th>Other</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ______________Adding existing operations________________________ -->
                                <% if(br_ops.length>0) {%>
                                <% br_ops.forEach((operation, index)=> { %>
                                    <tr>
                                        <!-- First column, op number -->
                                        <td style="width: 8%; padding: 0; margin: 0;">
                                            <input type="number" class="form-control" id="opNumber<%= index %>"
                                                name="opNumber<%= index %>" value="<%= operation.opNumber %>" min="1">
                                        </td>

                                        <td>
                                            <!-- Second column - Description -->
                                            <div id="description<%= index %>">
                                                <textarea id="descriptionTextarea<%= index %>" class="form-control"
                                                    rows="1"><%= operation.typicalActivity.content %></textarea>
                                            </div>

                                        </td>

                                        <!-- ______________________________script to remove_____________________________________________ -->
                                        <script>
                                            // Function to adjust textarea height based on content
                                            function adjustTextareaHeight(textarea) {
                                                textarea.style.height = 'auto'; // Reset height to auto
                                                textarea.style.height = (textarea.scrollHeight + 1) + 'px'; // Set height to content height
                                            }

                                            // Get the textarea element
                                            var textarea = document.getElementById("descriptionTextarea<%= index %>");

                                            // Call the adjustTextareaHeight function when the content changes
                                            textarea.addEventListener('input', function () {
                                                adjustTextareaHeight(textarea);
                                            });

                                            // Call the adjustTextareaHeight function initially
                                            adjustTextareaHeight(textarea);
                                        </script>
                                        <!-- ___________________________________________________________________________ -->

                                        <!-- 3rd column - OTHER -->
                                        <td style="width: 15%;">
                                            <!-- Other fields -->
                                            <div id="other<%= index %>">
                                                <textarea id="otherTextarea<%= index %>" class="form-control"
                                                    rows="<%= operation.typicalActivity.other ? 4 : 1 %>"><%= operation.typicalActivity.other %></textarea>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    <% }) %>
                                    <% } %>

                                    <!-- _______________________Filling new operation__________________________ -->
                                        <tr>
                                            <form action="/new_operation_data" method="post">
                                                <% if(br_ops.length>0) {%>
                                                <td style="width: 8%; padding: 0; margin: 0;">
                                                    <input type="number" class="form-control" id="opNumber" name="opNumber" value="<%= br_ops.length+1%>" min="1">
                                                </td>    
                                                <% }else{ %>
                                                <td style="width: 8%; padding: 0; margin: 0;">
                                                    <input type="number" class="form-control" id="opNumber" name="opNumber" value="1" min="1">
                                                </td>
                                                <% } %>

                                            
                                                <td>
                                                    <div id="description">
                                                        <% if(locals.finalFormatContent){ %>
                                                            <%- finalFormatContent %>
                                                        <% } %>
                                                    </div>
                                                </td>
                                            
                                                <td style="width: 10%;">
                                                    <div id="other">
                                                        <% if(locals.other){ %>
                                                        <textarea name="other" id="other" cols="30" rows="10"><%= other %></textarea>
                                                        <% }else{ %>
                                                        <textarea name="other" id="other" cols="30" rows="10"></textarea>
                                                        <% } %>
                                                    </div>
                                                </td>
                                            
                                                <!-- Hidden input fields and button moved inside the form -->
                                                <div class="col-md-1 text-center mt-4">
                                                    <input type="hidden" name="content" value="<%= locals.finalFormatContent %>">
                                                    <input type="hidden" name="mainEquipmentType" value="<%= locals.equipmentType %>">
                                                    <input type="hidden" name="activityType" value="<%= locals.activityType %>">
                                                    <input type="hidden" name="project" value="<%= locals.localMemory.project %>">
                                                    <input type="hidden" name="tp" value="<%= locals.localMemory.tp %>">
                                                    <button class="btn btn-primary">Parse Data</button>
                                                </div>
                                            </form>
                                        </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    
                    
                    <!-- Equipment and Activity Type Selection, and Button to parse data -->
                    <div class="row mt-3">
                        <form action="/get_description" method="POST" id="formForDescription">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="equipmentType">Equipment Type</label>
                                    <select class="form-control" id="equipmentType" name="equipmentType">
                                        <option value="">--select--</option>
                                        <% 
                                            // Extract unique equipment types
                                            let uniqueEquipmentTypes = new Set();
                                            operationsMap.forEach(function(operation) {
                                                uniqueEquipmentTypes.add(operation.name);
                                            });
                                
                                            // Populate select element with unique equipment types
                                            uniqueEquipmentTypes.forEach(function(equipmentType) {
                                        %>
                                                <option value="<%= equipmentType %>"><%= equipmentType %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="activityType">Type of Activity</label>
                                    <select class="form-control" id="activityType" name="activityType">
                                        <option value="">--select--</option>
                                    </select>
                                </div>
                            </div>

                        </form>
                        

                    
                    </div>

                </main>
        </div>

        <!-- Footer -->
        <%- include("partials/footer.ejs") %>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous">
            </script>
           

            <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
            <script>
                // Define a new JavaScript variable and assign it the value of operationsMap from EJS
                const operationsMapData = <%- JSON.stringify(operationsMap) %>;
            </script>

            <script>
                // Function to populate the "Type of Activity" select element based on the selected equipment type
                function populateActivityTypes() {
                    // Clear existing options
                    const activityTypeSelect = document.getElementById('activityType');
                    activityTypeSelect.innerHTML = '<option value="">--select--</option>';

                    // Get selected equipment type
                    const selectedEquipment = document.getElementById('equipmentType').value;

                    // Populate "Type of Activity" select element with operation types corresponding to the selected equipment
                    operationsMapData.forEach(function(operation) {
                        if (operation.name === selectedEquipment) {
                            operation.operations.forEach(function(desc) {
                                const option = document.createElement('option');
                                option.value = desc.operationType;
                                option.textContent = desc.operationType;
                                activityTypeSelect.appendChild(option);
                            });
                        }
                    });
                }

                // Add event listener for the change event on "Equipment Type" select element
                document.getElementById('equipmentType').addEventListener('change', populateActivityTypes);

                // Populate "Type of Activity" select element on page load
                populateActivityTypes();
            </script>

            <!-- JavaScript code to submit the form when activityType is changed -->
            <script>
                // Add an event listener to the change event of the activityType select element
                document.getElementById('activityType').addEventListener('change', function() {
                    // Submit the form when the activityType is changed
                    document.getElementById('formForDescription').submit();
                });
            </script>



</body>

</html>