<!-- main_table.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Your custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>Main Table</title>

</head>

<body>

    <!-- Header -->
    <%- include("partials/header.ejs") %>

        <!-- Main content -->
        <div class="wrapper">
            <!-- Sidebar -->
            <%- include("partials/sidebar.ejs") %>

                <div class="container mt-3">

                    <form action="/operation_table" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>


                                            <tr>
                                            <td>
                                                <!--   Choose Projects    -->
                                                <div class="form-group">
                                                    <label for="inputFieldProject">Choose Project Name:</label>
                                                    <input type="text" class="form-control" name="projectName" id="inputFieldProject" list="datalistProject">
                                                    <datalist id="datalistProject"></datalist>
                                                </div>

                                                </td>
                                            <td>
                                                
                                                    <!--   Choose TP    -->
                                                    <div class="form-group">
                                                        <label for="inputFieldTP">Choose TP:</label>
                                                        <input type="text" class="form-control" name="tp" id="inputFieldTP" list="datalistTP">
                                                        <datalist id="datalistTP"></datalist>
                                                    </div>
                                                </td>
                                            <td>
                                                <!--   Choose Version    -->
                                                <div class="form-group">
                                                    <label for="inputFieldVersion">Choose TP:</label>
                                                    <input type="text" class="form-control" name="version" id="inputFieldVersion" list="datalistVersion">
                                                    <datalist id="datalistVersion"></datalist>
                                                </div>
                                            </td>
                                            </tr>
                                            


                                    </tbody>
                                </table>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-info">
                                    <h2>Select equipment</h2>
                                    <tbody>
                                        <% equipmentMap.forEach(function(item, index) { %>
                                            <tr>
                                                <th><%= item.name %></th>
                                                <td>
                                                    <select id="<%= item.name %>id1_<%= index %>" name="<%= item.name %>id1_<%= index %>" class="form-select" style="width: 100%;">
                                                        <option value="">⛏️</option>
                                                        <% item.equipmentInfo.forEach(function(info) { %>
                                                            <option value="<%= info.code %>" <% if(localMemory.equipment.find(eq => eq.eq_name === item.name + 'id1_' + index) && localMemory.equipment.find(eq => eq.eq_name === item.name + 'id1_' + index).eq_code === info.code) { %> selected <% } %>><%= info.code %> <%= info.description %></option>
                                                        <% }); %>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="<%= item.name %>id2_<%= index %>" name="<%= item.name %>id2_<%= index %>" class="form-select" style="width: 100%;">
                                                        <option value="">⛏️</option>
                                                        <% item.equipmentInfo.forEach(function(info) { %>
                                                            <option value="<%= info.code %>" <% if(localMemory.equipment.find(eq => eq.eq_name === item.name + 'id2_' + index) && localMemory.equipment.find(eq => eq.eq_name === item.name + 'id2_' + index).eq_code === info.code) { %> selected <% } %>><%= info.code %> <%= info.description %></option>
                                                        <% }); %>
                                                    </select>
                                                </td>
                                            </tr>
                                        <% }); %>
                                        
                                        
                                        
                                    </tbody>
                                    
                                    
                                    
                                    
                                    
                                </table>
                            </div>

                            <!-- New table for loading materials -->
                            <div class="col-md-6">
                                <table class="table table-info">
                                    <h2>Insert Materials</h2>
                                    <tbody>
                                        <% localMemory.reagents.forEach((reagent, index) => { %>
                                            <tr>
                                                <td><input type="text" name="reagent<%= index %>" class="form-control" value="<%= reagent.reag_name %>" placeholder="Reagent here"></td>
                                                <td><input type="number" name="amount<%= index %>" class="form-control" value="<%= reagent.reag_amount %>" placeholder="Amounts in kg" step="any"></td>
                                            </tr>
                                        <% }); %>
                                        <% for (let i = localMemory.reagents.length; i < 10; i++) { %>
                                            <tr>
                                                <td><input type="text" name="reagent<%= i %>" class="form-control" placeholder="Reagent here"></td>
                                                <td><input type="number" name="amount<%= i %>" class="form-control" placeholder="Amounts in kg" step="any"></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                        <!-- Submit button -->
                        <button class="btn btn-secondary" type="submit">Submit</button>
                    </form>
                </div>
        </div>


        <!-- Footer -->
        <%- include("partials/footer.ejs") %>

            <!-- axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <!-- Bootstrap JS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous">
            </script>

            <!-- Bootstrap JS and jQuery (required for Bootstrap) -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="scripts.js"></script>
 
 </body>

</html>