<!-- main_table.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Your custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>Main Table</title>

</head>

<body>

    <!-- Header -->
    <%- include("partials/header.ejs") %>

        <!-- Main content -->
        <div class="wrapper">
            <!-- Sidebar -->
            <%- include("partials/sidebar.ejs") %>

                <div class="container mt-3">

                    <form action="/operation_table" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                        <% if (localMemory.project!==""){ %>
                                            <tr>
                                                <td><input type="text" name="project" class="form-control"
                                                        placeholder="Project" value="<%= localMemory.project %>"></td>
                                                <td><input type="text" name="tp" class="form-control" placeholder="TP"
                                                        value="<%= localMemory.tp %>"></td>
                                            </tr>
                                        <% }else{ %>

                                        <tr>
                                            <td><input type="text" name="project" class="form-control"
                                                    placeholder="Project" value=""></td>
                                            <td><input type="text" name="tp" class="form-control" placeholder="TP"
                                                    value=""></td>
                                        </tr>

                                        <% } %>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-info">
                                    <h2>Select equipment</h2>
                                    <tbody>
                                        <% equipmentMap.forEach(function(item, index) { %>
                                            <tr>
                                                <th><%= item.name %></th>
                                                <td>
                                                    <select id="<%= item.name %>1_<%= index %>" name="<%= item.name %>1_<%= index %>" class="form-select" style="width: 100%;">
                                                        <option value="">⛏️</option>
                                                        <% item.equipmentInfo.forEach(function(info) { %>
                                                            <option value="<%= info.code %>" <% if(localMemory.equipment.find(eq => eq.eq_name === item.name + '1_' + index) && localMemory.equipment.find(eq => eq.eq_name === item.name + '1_' + index).eq_code === info.code) { %> selected <% } %>><%= info.code %> <%= info.description %></option>
                                                        <% }); %>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="<%= item.name %>2_<%= index %>" name="<%= item.name %>2_<%= index %>" class="form-select" style="width: 100%;">
                                                        <option value="">⛏️</option>
                                                        <% item.equipmentInfo.forEach(function(info) { %>
                                                            <option value="<%= info.code %>" <% if(localMemory.equipment.find(eq => eq.eq_name === item.name + '2_' + index) && localMemory.equipment.find(eq => eq.eq_name === item.name + '2_' + index).eq_code === info.code) { %> selected <% } %>><%= info.code %> <%= info.description %></option>
                                                        <% }); %>
                                                    </select>
                                                </td>
                                            </tr>
                                        <% }); %>
                                        
                                        
                                        
                                    </tbody>
                                    
                                    
                                    
                                    
                                    
                                </table>
                            </div>

                            <!-- New table for loading materials -->
                            <div class="col-md-6">
                                <table class="table table-info">
                                    <h2>Insert Materials</h2>
                                    <tbody>
                                        <% localMemory.reagents.forEach((reagent, index) => { %>
                                            <tr>
                                                <td><input type="text" name="reagent<%= index %>" class="form-control" value="<%= reagent.reag_name %>" placeholder="Reagent here"></td>
                                                <td><input type="number" name="amount<%= index %>" class="form-control" value="<%= reagent.reag_amount %>" placeholder="Amounts in kg" step="any"></td>
                                            </tr>
                                        <% }); %>
                                        <% for (let i = localMemory.reagents.length; i < 10; i++) { %>
                                            <tr>
                                                <td><input type="text" name="reagent<%= i %>" class="form-control" placeholder="Reagent here"></td>
                                                <td><input type="number" name="amount<%= i %>" class="form-control" placeholder="Amounts in kg" step="any"></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                        <!-- Submit button -->
                        <button class="btn btn-secondary" type="submit">Submit</button>
                    </form>
                </div>
        </div>


        <!-- Footer -->
        <%- include("partials/footer.ejs") %>

            <!-- axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <!-- Bootstrap JS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous">
            </script>
 </body>

</html>