<!-- main_table.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Your custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>Main Table</title>

</head>

<body>

    <!-- Header -->
    <%- include("partials/header.ejs") %>

        <!-- Main content -->
        <div class="wrapper">
            <!-- Sidebar -->
            <%- include("partials/sidebar.ejs") %>

                <div class="container mt-3">

                    <form action="/operation_table" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                        <% if(projectList.length >0){ %> 
                                            
                                        <tr>
                                            <td><input type="text" name="project" class="form-control"
                                                    placeholder="Project" value="<%= projectList[0]  %>"></td>
                                            <td><input type="text" name="TP" class="form-control" placeholder="TP"
                                                    value="<%= projectList[1]  %>"></td>
                                        </tr>
                                        <% }else{ %> 
                                        <tr>
                                            <td><input type="text" name="project" class="form-control"
                                                    placeholder="Project" value="tile"></td>
                                            <td><input type="text" name="TP" class="form-control" placeholder="TP"
                                                    value="tp.5"></td>
                                        </tr>
                                        <% } %> 

                                    </tbody>
                                </table>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <h2>Select equipment</h2>
                                    <tbody>
                                        <tr>
                                            <th>Reactor:</th>
                                            <td><select id="reactor1" name="reactor1" class="form-select"></select></td>
                                            <td><select id="reactor2" name="reactor2" class="form-select"></select></td>
                                        </tr>
                                        <tr>
                                            <th>Oven:</th>
                                            <td colspan="2"><select id="oven1" name="oven1"
                                                    class="form-select"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Membrane pump:</th>
                                            <td><select id="m_pump1" name="m_pump1" class="form-select"></select></td>
                                            <td><select id="m_pump2" name="m_pump2" class="form-select"></select></td>
                                        </tr>
                                        <tr>
                                            <th>Peristaltic pump:</th>
                                            <td><select id="p_pump1" name="p_pump1" class="form-select"></select></td>
                                            <td><select id="p_pump2" name="p_pump2" class="form-select"></select></td>
                                        </tr>
                                        <tr>
                                            <th>Oil pump:</th>
                                            <td colspan="2"><select id="o_pump1" name="o_pump1"
                                                    class="form-select"></select></td>
                                        </tr>
                                        <tr>
                                            <th>Nutsche filter:</th>
                                            <td colspan="2"><select id="n_filter1" name="n_filter1"
                                                    class="form-select"></select></td>
                                        </tr>
                                        <tr>
                                            <th>Druck filter:</th>
                                            <td colspan="2"><select id="d_filter1" name="d_filter1"
                                                    class="form-select"></select></td>
                                        </tr>
                                        <tr>
                                            <th>Balances:</th>
                                            <td><select id="balances1" name="balances1" class="form-select"></select>
                                            </td>
                                            <td><select id="balances2" name="balances2" class="form-select"></select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- New table for loading materials -->
                            <div class="col-md-6">
                                <table class="table">
                                    <h2>Insert Materials</h2>
                                    <tbody>

                                        <!-- 10 rows for loading materials -->
                                        <% for (let i=0; i < 10; i++) { %>
                                            <tr>
                                                <td><input type="text" name="reagent<%= i %>" class="form-control"
                                                        placeholder="Reagent here" value=<%- "reagent" +i %>></td>
                                                <td><input type="number" name="amount<%= i %>" class="form-control"
                                                        placeholder="Amounts in kg" step="any" value=<%- 1+i %>></td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Submit button -->
                        <button class="btn btn-secondary" type="submit">Submit</button>
                    </form>
                </div>
        </div>


        <!-- Footer -->
        <%- include("partials/footer.ejs") %>

            <!-- axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <!-- Bootstrap JS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous">
                </script>
            <script>
                /**
                 * Adds a default "--select--" option to a dropdown select element.
                 * 
                 * @param {HTMLElement} selectElement - The dropdown select element to which the default option will be added.
                 */
                function addDefaultOption(selectElement) {
                    // Create the default option element
                    var defaultOption = document.createElement('option');
                    defaultOption.value = '';
                    defaultOption.textContent = '--select--';


                    // Append the default option to the select element
                    selectElement.appendChild(defaultOption);
                }
            </script>
            <script>
                let eqNameCodeFromServer = <%- JSON.stringify(eqNameCode) %>;
                /**
                 * Retrieves equipment codes from memory based on the provided equipment name.
                 * @param {string} eq - The name of the equipment to search for.
                 * @returns {Array<string>} An array containing equipment codes. If one or more matching equipments are found, their codes are returned; otherwise, empty strings are returned.
                 */
                function getEqCodesFromMemory(eq) {
                    // Retrieve equipment list from memory
                    let equipmentList = <%- JSON.stringify(equipmentListMemory) %>;

                    // Initialize variables to store equipment codes
                    let eq1 = "";
                    let eq2 = "";

                    // Initialize counter for matching equipments
                    let eqCount = 0;

                    // Iterate through the equipment list
                    for (let i = 0; i < equipmentList.length; i++) {
                        const equipment = equipmentList[i];

                        // Check if the equipment matches the provided name and is in a valid condition
                        if (equipment.name === eq && equipment.condition === true) {
                            eqCount++;

                            // Store the first matching equipment code
                            if (eqCount === 1) {
                                eq1 = equipment.code;
                            }
                            // Store the second matching equipment code and exit the loop
                            else if (eqCount === 2) {
                                eq2 = equipment.code;
                                break;
                            }
                        }
                    }

                    // Return an array containing the equipment codes
                    return [eq1, eq2];
                }

                async function populateEquipment(...eqInField) {
                    // Iterate over each equipment type
                    for (let i = 0; i < eqInField.length; i++) {
                        const eq = eqInField[i];
                        const eqFromMemory = getEqCodesFromMemory(eq)[i];
                        const selectElement = document.getElementById(eq + (i + 1));
                        selectElement.innerHTML = '';
                        addDefaultOption(selectElement);

                        // Populate select element with options for the current equipment type
                        eqNameCodeFromServer[eq].forEach(function (eqName) {
                            const option = document.createElement('option');
                            option.value = eqName.code;
                            option.textContent = eqName.code;
                            selectElement.appendChild(option);
                            if (option.value === eqFromMemory) {
                                option.selected = true; // Set as default if match found
                            }
                        });
                    }
                }

                window.onload = async function () {
                    await populateEquipment("reactor", "reactor");
                    await populateEquipment("oven");
                    await populateEquipment("m_pump", "m_pump");
                    await populateEquipment("p_pump", "p_pump");
                    await populateEquipment("o_pump");
                    await populateEquipment("n_filter");
                    await populateEquipment("d_filter");
                    await populateEquipment("balances", "balances");

                };
            </script>

            <script>



            </script>



</body>

</html>