<!-- main_table.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Your custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>Main Table</title>

</head>

<body>

    <!-- Header -->
    <%- include("partials/header.ejs") %>

        <!-- Main content -->
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-2 col-md-2">
                    <%- include("partials/sidebar.ejs") %>
                </div>
                <% if(locals.equipmentMap && locals.localMemory && locals.allProj && locals.allTpFromProj){ %>
                <!-- some problems with this column -->
                <div class="col-lg-9 col-md-9 mt-3">

                    <form action="/operation_table" method="post">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- First table on top -->
                                <div class="col-lg-10 col-md-10">
                                    <div class=" mt-3">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <table class="table">
                                                        <tbody>
                                                            <!-- ____________project__tp__version__selector_________ -->
                                                            <tr class="d-flex justify-content-end align-items-end">
                                                                <td>
                                                                    <!-- Choose Projects -->
                                                                    <div class="form-group">
                                                                        <label for="inputFieldProject">Choose Project
                                                                            Name:</label>
                                                                        <input type="text" class="form-control"
                                                                            name="projectName" id="inputFieldProject"
                                                                            list="datalistProject"
                                                                            value="<%= localMemory.projectName %>">
                                                                        <datalist id="datalistProject"></datalist>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <!-- Choose TP -->
                                                                    <div class="form-group">
                                                                        <label for="inputFieldTP">Choose TP:</label>
                                                                        <input type="text" class="form-control"
                                                                            name="tp" id="inputFieldTP"
                                                                            list="datalistTP"
                                                                            value="<%= localMemory.tp %>">
                                                                        <datalist id="datalistTP"></datalist>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <!-- Choose Version -->
                                                                    <div class="form-group">
                                                                        <label for="inputFieldVersion">Choose
                                                                            Version:</label>
                                                                        <input type="text" class="form-control"
                                                                            name="version" id="inputFieldVersion"
                                                                            list="datalistVersion"
                                                                            value="<%= localMemory.version %>">
                                                                        <datalist id="datalistVersion"></datalist>
                                                                    </div>
                                                                </td>
                                                                <td class="d-flex justify-self-end">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        style="width: 100px;" onclick="submitForm()">get
                                                                        data</button>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <!-- Equipment and materials tables -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <table class="table table-info">
                                            <!-- _______________EQUIPMENT_TABLE_____________ -->
                                            <h2>Select equipment</h2>
                                            <tbody>
                                                <% equipmentMap.forEach(function(item, index) { %>
                                                    <tr>
                                                        <th>
                                                            <%= item.name %>
                                                        </th>
                                                        <td>
                                                            <select id="<%= item.name %>id1_<%= index %>"
                                                                name="<%= item.name %>id1_<%= index %>"
                                                                class="form-select" style="width: 100%;">
                                                                <option value="">⛏️</option>
                                                                <% item.equipmentInfo.forEach(function(info) { %>
                                                                    <option value="<%= info.code %>" <%
                                                                        if(localMemory.equipmentSet.find(eq=> eq.name ==
                                                                        item.name + 'id1_' + index) &&
                                                                        localMemory.equipmentSet.find(eq => eq.name ==
                                                                        item.name + 'id1_' + index).code == info.code) {
                                                                        %> selected <% } %>><%= info.code %>
                                                                                <%= info.description %>
                                                                    </option>
                                                                    <% %>
                                                                        <% }); %>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select id="<%= item.name %>id2_<%= index %>"
                                                                name="<%= item.name %>id2_<%= index %>"
                                                                class="form-select" style="width: 100%;">
                                                                <option value="">⛏️</option>
                                                                <% item.equipmentInfo.forEach(function(info) { %>
                                                                    <option value="<%= info.code %>" <%
                                                                        if(localMemory.equipmentSet.find(eq=> eq.name ==
                                                                        item.name + 'id2_' + index) &&
                                                                        localMemory.equipmentSet.find(eq => eq.name ==
                                                                        item.name + 'id2_' + index).code == info.code) {
                                                                        %> selected <% } %>><%= info.code %>
                                                                                <%= info.description %>
                                                                    </option>
                                                                    <% }); %>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-6">
                                        <table class="table table-info" id="reagentTable">
                                            <h2>Insert Materials</h2>
                                            <tbody>
                                                <% localMemory.reagentSet.forEach((reagent, index)=> { %>
                                                    <tr>
                                                        <td><input type="text" name="reagent<%= index %>"
                                                                class="form-control" value="<%= reagent.name %>"
                                                                placeholder="Reagent here"></td>
                                                        <td><input type="number" name="mass<%= index %>"
                                                                class="form-control" value="<%= reagent.mass %>"
                                                                placeholder="mass in kg" step="any"></td>
                                                    </tr>
                                                    <% }); %>






                                            </tbody>
                                        </table>
                                        <button type="button" class="btn btn-light " id="addRowBtn">+</button>


                                    </div>
                                </div>
                                <button class="btn btn-secondary mb-5" type="submit">Get Operations</button>
                    </form>
                </div>
                <% }else{ %>
                    <h2>some data is not available from api server</h2>
                <% } %>
            </div>
        </div>



        <!-- Footer -->
        <%- include("partials/footer.ejs") %>

            <!-- axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <!-- Bootstrap JS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous">
                </script>
            <!-- script to populate project/tp/version on the page -->
            
            <script src="mt_scripts.js"></script>

            <script>
                // JavaScript
                document.addEventListener('DOMContentLoaded', function () {
                    const addRowBtn = document.getElementById('addRowBtn');
                    const reagentTable = document.getElementById('reagentTable');
                    let rowCounter = 1; // Counter for row IDs

                    addRowBtn.addEventListener('click', function () {
                        // Increment row counter
                        rowCounter++;

                        // Create new row
                        const newRow = document.createElement('tr');
                        newRow.innerHTML = `
                            <td><input type="text" name="reagent${rowCounter}" class="form-control" placeholder="Reagent here"></td>
                            <td><input type="number" name="mass${rowCounter}" class="form-control" placeholder="mass in kg" step="any"  min="0"></td>
                        `;

                        // Append new row to table
                        reagentTable.appendChild(newRow);
                    });
                });

            </script>

            <script>
                function refreshPage() {
                    location.reload();
                }
            </script>

            <script> //script to send axios.post to proxy server with projectName, tp and version data, to get localMemory
                async function submitForm() {
                    // Get input values
                    const projectName = document.getElementById('inputFieldProject').value;
                    const tp = document.getElementById('inputFieldTP').value;
                    const version = document.getElementById('inputFieldVersion').value;

                    // Prepare data to send
                    const data = {
                        projectName: projectName,
                        tp: tp,
                        version: version
                    };

                    try {
                        // Send POST request using Axios
                        const response = await axios.post('/', data);
                        console.log('POST request successful');
                    } catch (error) {
                        console.error('Error sending POST request:', error);
                    }
                    refreshPage();
                }
            </script>

</body>

</html>